a,
a:visited,
a:hover {
  color: #267cd3;
  text-decoration: none;
}

#container {
  margin: 0 auto;
  text-align: center;
  width: 90%;
  border-radius: 5px;
}
#container #header {
  height: 100px;
}
#container #header img.logo {
  height: 100px;
}
#container #header .secondary-action {
  width: 50px;
  height: 50px;
  display: inline-table;
  font-size: 30px;
  color: black;
}
#container #header .secondary-action.left {
  float: left;
}
#container #header .secondary-action.right {
  float: right;
}
#container #header .secondary-action a {
  color: black;
}
#container #header .secondary-action a i {
  display: table-cell;
  vertical-align: middle;
}
#container #content {
  min-height: 690px;
  padding: 1%;
}
#container #content h2 {
  font-size: 30px;
}
#container #content p {
  font-size: 25px;
}
#container #content .form-container {
  display: flex;
  flex-direction: column;
  width: 60%;
  margin: 0 auto;
}
#container #content .form-container fieldset {
  border: none;
  border-top: 1px solid black;
}
#container #content .form-container fieldset legend {
  margin: 0 auto;
  text-align: center;
}
#container #content .form-container-item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 8%;
}
#container #content .form-container-item label {
  text-align: right;
}
#container #content .form-container-item input {
  width: 50%;
}
#container #content .form-container-item input[type=text], #container #content .form-container-item input[type=password], #container #content .form-container-item input[type=email] {
  height: 25px;
  border: 1px solid black;
  border-radius: 5px;
}
#container #content .form-container-item input[type=submit] {
  margin-bottom: 5%;
  width: 100%;
  color: green;
  border-color: green;
  border-radius: 15px;
  background-color: #bfffb8;
  font-size: 20px;
  text-transform: uppercase;
  text-align: center;
  height: 50%;
}
#container #content .issue-counts-container {
  display: grid;
  grid-template-areas: "open closed" "assigned total";
}
#container #content .issue-counts-container span {
  font-size: 100px;
}
#container #content .issue-counts-container a {
  color: black;
  -webkit-text-decoration: dotted;
          text-decoration: dotted;
  text-transform: uppercase;
}
#container #content .issue-counts-item.open {
  grid-area: open;
}
#container #content .issue-counts-item.open span {
  color: red;
}
#container #content .issue-counts-item.closed {
  grid-area: closed;
}
#container #content .issue-counts-item.closed span {
  color: blue;
}
#container #content .issue-counts-item.assigned {
  grid-area: assigned;
}
#container #content .issue-counts-item.assigned span {
  color: green;
}
#container #content .issue-counts-item.total {
  grid-area: total;
}
#container #content .issue-counts-item.total span {
  color: gray;
}
#container #content .issue-container {
  display: grid;
  grid-template-columns: 33% 33% 33%;
}
#container #content .issue-item {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  text-align: center;
  padding: 1%;
  height: 350px;
  border-radius: 30px;
  background-color: white;
  border: 1px solid gray;
}
#container #content .issue-pagination {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
#container #content .issue-pagination a {
  margin: 10px;
}
#container #content .issue-pagination a.active {
  text-decoration: underline;
}
#container #content.error h2 {
  color: red;
}
#container #content.error h2.header {
  text-decoration: underline;
}
#container #content.error h2 span.errorCode {
  font-weight: bolder;
  color: #ff4545;
}
#container #footer {
  height: 100px;
  color: #5e5e5e;
}
#container #footer span {
  float: right;
}
#container #footer span#companyName {
  float: left;
  font-weight: bold;
}
#container #footer span.label {
  font-weight: bold;
}
#container #footer a {
  float: right;
}/*# sourceMappingURL=master.css.map */