a,
a:visited,
a:hover {
    color: #267cd3;
    text-decoration: none;
}

#container {
    margin: 0 auto;
    text-align: center;
    width: 90%;
    border-radius: 5px;

    #header {
        height: 100px;

        img.logo {
            height: 100px;
        }

        .secondary-action {
            width: 50px;
            height: 50px;
            display: inline-table;
            font-size: 30px;
            color: black;

            &.left {
                float: left;
            }

            &.right {
                float: right;
            }

            & a {
                color: black;

                & i {
                    display: table-cell;
                    vertical-align: middle;
                }
            }
        }
    }

    #content {
        min-height: 690px;
        padding: 1%;

        h2 {
            font-size: 30px;
        }

        p {
            font-size: 25px;
        }

        .form-container {
            display: flex;
            flex-direction: column;
            width: 60%;
            margin: 0 auto;

            & fieldset {
                border: none;
                border-top: 1px solid black;

                legend {
                    margin: 0 auto;
                    text-align: center;
                }
            }

            &-item {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                margin-top: 8%;

                & label {
                    text-align: right;
                }

                & input {
                    width: 50%;

                    &[type="text"],
                    &[type="password"],
                    &[type="email"] {
                        height: 25px;
                        border: 1px solid black;
                        border-radius: 5px;
                    }

                    &[type="submit"] {
                        margin-bottom: 5%;
                        width: 100%;
                        color: green;
                        border-color: green;
                        border-radius: 15px;
                        background-color: #bfffb8;
                        font-size: 20px;
                        text-transform: uppercase;
                        text-align: center;
                        height: 50%;
                    }
                }
            }
        }

        .issue {
            &-counts {
                &-container {
                    display: grid;
                    grid-template-areas:
                        "open closed"
                        "assigned total";

                    & span {
                        font-size: 100px;
                    }

                    & a {
                        color: black;
                        text-decoration: dotted;
                        text-transform: uppercase;
                    }
                }

                &-item {
                    &.open {
                        grid-area: open;

                        & span {
                            color: red;
                        }
                    }

                    &.closed {
                        grid-area: closed;

                        & span {
                            color: blue;
                        }
                    }

                    &.assigned {
                        grid-area: assigned;

                        & span {
                            color: green;
                        }
                    }

                    &.total {
                        grid-area: total;

                        & span {
                            color: gray;
                        }
                    }
                }
            }

            &-container {
                display: grid;
                grid-template-columns: 33% 33% 33%;
            }

            &-item {
                display: flex;
                flex-direction: column;
                justify-content: space-evenly;
                text-align: center;
                padding: 1%;
                height: 350px;
                border-radius: 30px;
                background-color: white;
                border: 1px solid gray;
            }

            &-pagination {
                display: flex;
                flex-direction: row;
                justify-content: center;

                & a {
                    margin: 10px;

                    &.active {
                        text-decoration: underline;
                    }
                }
            }
        }

        &.error {
            & h2 {
                color: red;

                &.header {
                    text-decoration: underline;
                }

                & span.errorCode {
                    font-weight: bolder;
                    color: #ff4545;
                }
            }
        }
    }

    #footer {
        height: 100px;
        color: #5e5e5e;

        span {
            float: right;

            &#companyName {
                float: left;
                font-weight: bold;
            }

            &.label {
                font-weight: bold;
            }
        }

        a {
            float: right;
        }
    }
}
