<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{~/style/master.css}">
    <title th:text="@{|${companyName} Ticketing Service|}"></title>
</head>

<body>
    <div id="container">
        <div id="header">
            <div class="secondary-action left"></div>
            <div class="secondary-action right"></div>
            <a th:href="@{|~/|}">
                <img th:src="@{|~/img/${companyLogoFilename}|}" th:alt="@{|${companyName} Ticketing Service|}"
                    class="logo" />
            </a>
        </div>
        <div id="content" class="error">
            <h2 class="header">Si &egrave; verificato un errore</h2>

            <br><br><br><br>

            <h2>
                <span th:text="${errorCode}" class="errorCode"></span>
                -
                <span th:text="${errorHeaderText}"></span>
            </h2>

            <p th:text="${errorDescription}"></p>

            <br><br><br><br>

            <p>
                <a th:href="@{|${actionLink}|}" th:text="${actionLinkText}"></a>
            </p>
        </div>
        <div id="footer">
            <span th:text="@{|${companyName} Ticketing Service|}" id="companyName"></span>

            <span th:text="${companyAddress}"></span>
            <br />

            <a th:text="${companyPhoneNumberFormatted}" th:href="@{|tel:${companyPhoneNumber}|}"></a>
            <br />

            <span th:text="${companyVATNumber}"></span>
            <br />

            <a th:text="${companyEmail}" th:href="@{|mailto:${companyEmail}|}"></a>
            <br />
        </div>
    </div>
</body>

</html>