<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{~/style/master.css}">
    <script src="https://kit.fontawesome.com/8eff9e9f5f.js" crossorigin="anonymous"></script>
    <title th:text="@{|${companyName} Ticketing Service|}"></title>
</head>

<body>
    <div id="container">
        <div id="header">
            <div class="secondary-action left">
                <a href="/dashboard">
                    <i class="fas fa-home"></i>
                </a>
            </div>
            <div class="secondary-action right">
                <a href="/form/issue/create">
                    <i class="fas fa-plus"></i>
                </a>
            </div>
            <a th:href="@{|~/|}">
                <img th:src="@{|~/img/${companyLogoFilename}|}" th:alt="@{|${companyName} Ticketing Service|}"
                    class="logo" />
            </a>
        </div>
        <div id="content">
            <h2 th:text="${pageTitle}"></h2>

            <br><br><br><br>

            <p th:if="${issuePage.content.size() == 0}">
                Non ci sono ticket...
                <a href="/dashboard">Torna alla dashboard</a>
            </p>

            <div class="issue-container">
                <div th:each="issue : ${issuePage.content}" class="issue-item">
                    <p class="header">
                        <span th:text="${issue.id}" class="issue-id"></span>
                        <span th:text="${issue.title}"></span>
                        <span th:text="${issue.priorityString}" class="priority"
                            th:classappend="@{|priority-${issue.priority}|}"></span>
                    </p>
                    <p class="subheader">
                        <span th:if="${issue.solved} == true" th:text="${issue.statusString}"
                            class="status status-closed"></span>
                        <span th:if="${issue.solved} == false" th:text="${issue.statusString}"
                            class="status status-open"></span>
                        -
                        Assegnato a
                        <a th:if="${issue.assigneeId} == null" th:text="${issue.assigneeString}"
                            th:href="@{|/issue/assign/${issue.id}|}"></a>
                        <span th:unless="${issue.assigneeId} == null" th:text="${issue.assigneeString}"></span>
                    </p>
                    <p th:text="${issue.description}" class="issue-item-description"></p>
                    <div class="issue-item-actions">
                        <!--TODO: add class="left" when Details are implemented-->
                        <a th:if="${!issue.solved}" th:href="@{|/issue/close/${issue.id}|}">Chiudi</a>
                        <!-- <a th:href="@{|/issue/show/single/${issue.id}|}">Dettagli</a> -->
                    </div>
                </div>
            </div>
            <div th:if="${issuePage.totalPages > 1}" class="issue-pagination">
                <a th:href="@{|/${baseLink}?size=${pageSize}&page=${pageNumber}|}" th:each="pageNumber : ${pageNumbers}"
                    th:text=${pageNumber} th:class="${pageNumber == issuePage.number + 1} ? active"></a>
            </div>
        </div>
        <div id="footer">
            <span th:text="@{|${companyName} Ticketing Service|}" id="companyName"></span>

            <span th:text="${companyAddress}"></span>
            <br />

            <a th:text="${companyPhoneNumberFormatted}" th:href="@{|tel:${companyPhoneNumber}|}"></a>
            <br />

            <span th:text="${companyVATNumber}"></span>
            <br />

            <a th:text="${companyEmail}" th:href="@{|mailto:${companyEmail}|}"></a>
            <br />
        </div>
    </div>
</body>

</html>